<div class="ui four column grid">
    <div class="two wide column"></div>
    <div class="details three wide column">
      <div class="rating">
        <star-rating-comp class="stars" [starType]="'svg'" 
          [rating]="review.rating" 
          [readOnly]="true" 
          [size]="'medium'">
        </star-rating-comp>
      </div>
      <div><strong>Prima inmatriculare:</strong> {{review.yearOfReg}}</div>
      <div><strong>Versiune:</strong> {{review?.version}}</div>
      <div><strong>La cumparare: </strong>{{review.stateAtPurchase}}</div>
      <div><strong>Uz zilnic:</strong> {{review.usage}}</div>
      <div><strong>Utilizare:</strong> {{review.avgMlg}}</div>
      <div><strong>Proprietar de:</strong> {{review.ownershipPeriod}}</div>
      <div><strong>Recomand:</strong> 
          <i class="thumbs outline up icon blue" *ngIf="review.recommend == 'Da'"></i>
          <i class="thumbs outline down icon red" *ngIf="review.recommend == 'Nu'"></i> 
          {{review.recommend}}
      </div>
    </div>
    <div class="seven wide column">
      <div class="header">{{review.name}} din {{review.location}}</div>
      <div class="content">
        <div>{{review.review}}</div>
      </div>
      <div class="probleme"><strong>Probleme comune:</strong>  {{review.commonProblems}}</div>
    </div>
    <div class="four wide column"></div>
</div>