.header {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}

.details {
    font-size: 12px;
}

.stars {
    text-align: left;
}

.probleme {
    margin-top: 15px;
}

.additional.information {
    margin-bottom: 18px;
    font-weight: bold;
    font-size: 17px;
}

.rating {
    width: 100px;
}

.ui.button {
    margin-bottom: 30px;
}