footer {
       margin-top: 500px;
       background-color: rgb(15, 8, 75);
       text-align: center;
       color: #ffffff;
}

button {
    font-family: "Quicksand", "sans-serif";
}

/* .inverted.vertical {
    background-color: #ffffff;
    border: 0px solid #fff;
} */

div.item.in-menu:hover {
    background-color: #000000;
}


