button {
    font-family: "Quicksand", "sans-serif";
}

div.item.in-menu h3{
    font-family: "Quicksand", "sans-serif";
}

div.item.in-menu:hover {
    background-color: #000000;
}

.header.item h1 {
    font-family: "Anton", "sans-serif";
}

.ui.basic.segment {
    padding: 0px;
}

footer {
    margin-top: 14px;
}



