.left {
  min-height: 400px;
  padding: 0px;
}

.right {
  min-height: 400px;
  background-color: gray;
  padding: 0px
}

.column {
  padding: 0;
}

.textarea1 {
  margin-top: 6em;
  position: relative;
  margin-bottom: 5px;
}

.textarea2 {
  margin-top: 5px;
  position: relative;
  margin-bottom: 5em;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

 