<div class="ui menu header">
  <div class="ui container">
    <div class="item">
      <a [routerLink]="['/reviews']" aria-label="Reviews">
        <i class="car icon large blue" aria-hidden="true"></i>
      </a>
    </div>
    <div class="header item">
      <h1>MasinaMea.info</h1>
    </div>
    <div class="item" *ngIf="auth.isLoggedIn()">
      <button [routerLink]="['/new-contact']" class="ui basic button">
        <i class="add user icon" aria-hidden="true"></i>
        Add Contact
      </button>
    </div>
    <div class="item" *ngIf="auth.isLoggedIn()">
      <button [routerLink]="['/new-review']" class="ui basic button">
        <i class="add user icon" aria-hidden="true"></i>
        Add Review
      </button>
    </div>
    <div class="right menu" *ngIf="auth.isLoggedIn()">
      <button class="ui primary button logout" (click)="logout()">Logout</button>
    </div>
  </div>
</div>
