<div class="ui center aligned four equal height column stackable grid">
  <div class="stretched row" style="padding: 0px;">
    <div class="ten wide column" style="padding: 0px;">
      <div class="center aligned">
        <h1 class="textarea1">Vrei sa contribui?</h1>
        <h3 class="textarea3">Poti sa ne contactezi la <a href="mailto:ionathanr@yahoo.co.uk">acest email</a></h3>
      </div>
    </div>
    <div class="six wide column" style="padding: 0px;">
      <div class="textarea2">  
        <a href="#">
          <i class="facebook f icon big"></i>
          <p>facebook</p>
        </a>
        <a href="#">
          <i class="instagram icon big"></i>
          <p>instagram</p>
        </a>
        <a href="#">
          <i class="linkedin f icon big"></i>
          <p>LinkedIn</p>
        </a>
      </div>
    </div>
  </div>
</div>