.search-form-container {
  max-width: 960px;
  margin: 50px auto;
  margin-bottom: 200px;
}

.column.header {
  padding: 0px;
  background-color: #D6E4F0;
}

.item1 {
  //min-height: 100px;
  background-color: #D6E4F0;
  //border: 1px solid #D6E4F0;
}

.item1 p {
  margin: 50px auto;
  font-size: 40px;
  //transform: skewY(-10deg);
  border: 1px solid #D6E4F0;
}

.ui.top {
  min-height: 100px;
  margin-bottom: 35px;
}

.ui.segment {
  padding: 0px;
  border: 0px solid #D6E4F0;
}

.ui.new-search-button {
  margin: 20px;
}

.button {
  font-family: "Quicksand", "sans-serif";
}

.ui.segment {
  border: 0px solid #fff;
}

@media only screen and (max-width: 767px) {
  /* .ui.stackable.grid > .stackable.row > .column {
    padding: 0px !important;
  } */
  .ui.stackable.grid > .column:not(.row) {
    padding: 0px !important;
  }
  .ui.stackable.grid > .column:first-child {
    padding-top: 0rem !important;
  }
  .ui.stackable.grid > .column:last-child {
    padding-bottom: 0rem !important;
  }
}