.search-form-container {
  max-width: 960px;
  margin: 50px auto;
  margin-bottom: 200px;
}

.column {
  height: 300px;
}

.item {
  height: 300px;
  margin: 150px auto;
  background-color: #FFE1B6;
}

.item p {
  margin-top: 100px;
  font-size: 40px;
  //transform: skewY(-10deg);
}

.skew1 .item p {
  margin-top: 100px;
  font-size: 40px;
  transform: skewX(30deg);
}

.ui.top {
  height: 300px;
}

.ui.top .skew1 {
  height: 300px;
  transform: skewX(-30deg) translateX(88px);
  z-index: 100;
} 

.ui.segment {
  padding: 0px;
}