.add-form-container {
    max-width: 960px;
    margin: 50px auto;
    margin-bottom: 100px;
  }

.lpk {
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 8px;
}

star-rating-comp {
  padding: 5px;
}

.ui.segment {
  border: 0px solid #fff;
}

.item {
  margin: 50px auto;
  background-color: #FFE1B6;
}

.item p {
  font-size: 40px;
}

.buttons {
  padding: 100px;
}

.campuri.extra {
  background-color: rgb(173, 163, 147);
}

.ui.probleme {
  margin: 20px 50px;
}

.add-form-container label {
  font-size: 16px;
}

.recomandare:hover {
  cursor: pointer;
}
