<div class="ui center aligned stackable grid">
  <div class="stretched row" style="padding: 0px;">
    
      <div class="ui segment item center aligned">
        <p>Adauga o recenzie</p>
      </div>
    
  </div>
</div>
<div class="add-form-container">
  <div class="ui icon message" *ngIf="newReview">
    <i class="notched check green icon"></i>
    <i class="close icon" (click)="newReview = null"></i>
    <div class="content">
      <div class="header">
        Recenzie adaugata
      </div>
      <p>Model: {{newReview.make}} {{newReview.model}}</p>
    </div>
  </div>
  <p>* - campuri obligatorii</p>
  <form class="ui form" #contactForm="ngForm" (submit)="onSubmit(contactForm)" [class.loading]="loading">
    <div class="fields">
      <div class="six wide field">
        <label>Marca*</label>
        <div class="four fields">         
            <select required class="ui dropdown" name="make" ngModel #make="ngModel" (change)="onChange($event.target.value)">
              <option value="0"></option>
              <option *ngFor='let car of cars' value="{{car.make}}">{{car.make}}</option>
            </select>   
        </div>
      </div>
      <div class="six wide field">
        <label>Model*</label>
        <div class="four fields">       
            <select required class="ui fluid dropdown" name="model" ngModel #model="ngModel">
              <option value="0"></option>
              <option *ngFor='let model of models' value="{{model}}">{{model}}</option>
            </select>        
        </div>
      </div>
    </div>
    <div class="twelve wide field">
        <label>Versiune</label>
        <input type="text" placeholder="Versiune" name="version" ngModel>
    </div>
    <div class="fields">
      <div class="four wide field">
        <label for="yor">Anul primei inmatriculari*</label>
        <input type="text" name="yor" ngModel maxlength="4" minlength="4" #yor="ngModel" required placeholder="####">
        <div class="ui red message tiny" *ngIf="yor.invalid && yor.dirty">
            <div *ngIf="yor.errors.required">
                Anul fabricatiei este camp obligatoriu
            </div>
            <div *ngIf="yor.errors.minlength">
                Minim 4 cifre
            </div>
        </div>
      </div>
    </div>
    <div class="fields">
        <div class="six wide field">
            <label>Detin masina de*</label>      
              <div class="five fields">
                <select class="ui fluid search dropdown" required name="ownershipPeriod" ngModel>
                  <option value=""></option>
                  <option value="mai putin de un an">mai putin de un an</option>
                  <option value="1-2 years">1-2 ani</option>
                  <option value="2-3 years">2-3 ani</option>
                  <option value="3-4 ani">3-4 ani</option>
                </select>
              </div>
        </div>
        <div class="four wide field">
            <label>Starea la cumparare*</label>
            <div class="three fields">
                <select class="ui fluid search dropdown" required name="stateAtPurchase" ngModel>
                  <option value=""></option>
                  <option value="Nou">Nou</option>
                  <option value="Utilizat">Utilizat</option>
                </select>
            </div>
        </div>
    </div>
    <div class="eight wide field">
      <label>Utilizare anuala*</label>
      <div class="fields">
        <div class="eight wide field">
          <select class="ui fluid search dropdown" required name="avgMlg" ngModel>
            <option value=""></option>
            <option value="mai putin de 10000 km/an">mai putin de 10000 km/an</option>
            <option value="10000 - 15000 km/an">10000 - 15000 km/an</option>
            <option value="15000 - 25000 km/an">15000 - 25000 km/an</option>
            <option value="mai mult de 25000 km/an">mai mult de 25000 km/an</option>
          </select>
        </div>
      </div>
    </div>
    <div class="four wide field">
      <label>Consum tipic de combustibil*</label>
      <div class="two fields">
        <input type="number" maxlength="2" required placeholder="##" name="typicalMpg" ngModel><span class="lpk">l/100km</span>
      </div>
    </div>
    <div class="eight wide field">
      <label>Modul tipic de utilizare*</label>
      <div class="eight fields">
        <div class="eight wide field">
          <select class="ui fluid search dropdown" required name="usage" ngModel>
            <option value=""></option>
            <option value="distante scurte">distante scurte</option>
            <option value="distante medii">distante medii</option>
            <option value="naveta pe autostrada">naveta pe autostrada</option>
            <option value="distante mari">distante mari</option>
          </select>
        </div>
      </div>
    </div>
    <div class="twelve fields">
      <div class="twelve wide field">
        <label>Recenzie*</label>
        <textarea name="review" cols="30" rows="10" ngModel required></textarea>
      </div>
    </div>
    <div class="twelve fields">
      <div class="eight wide field">
        <label>Recomand*</label>
        <span class="recomandare" *ngIf="recommend" (click)="thumbsUp()"><i class="thumbs up icon blue big" ></i>Da</span>&nbsp;
        <span class="recomandare" *ngIf="recommend" (click)="thumbsUp()"><i class="thumbs outline down icon red big"></i></span>
        <span class="recomandare" *ngIf="!recommend" (click)="thumbsUp()"><i class="thumbs outline up icon blue big" ></i></span>&nbsp;
        <span class="recomandare" *ngIf="!recommend" (click)="thumbsUp()"><i class="thumbs down icon red big"></i>Nu</span>
      </div>
      <div class="three fields">
        <div class="three wide field">
          <!-- star rating --> 
          <star-rating-comp   [starType]="'svg'" 
              [hoverEnabled]="true"
              (onClick)="onClick($event)" 
              [labelText]="'Rating*'" required
              >                             
          </star-rating-comp>
          <!-- star rating -->

        </div>
      </div>
    </div> 
    <div class="eight wide field">
      <label>Probleme comune*</label>
    </div>
    <div class="three fields">
        <div class="ui checkbox probleme five wide field">
          <input type="checkbox" name="example" [(ngModel)]="frane">
          <label>Frane</label>
        </div>
        <div class="ui checkbox probleme five wide field">
          <input type="checkbox" name="example" [(ngModel)]="parteaElectrica">
          <label>Partea electrica</label>
        </div>
        <div class="ui checkbox probleme five wide field">
          <input type="checkbox" name="example" [(ngModel)]="motor">
          <label>Motor</label>
        </div>
    </div>
    <div class="three fields">
        <div class="ui checkbox probleme five wide field">
          <input type="checkbox" name="example" [(ngModel)]="cutieViteze">
          <label>Cutie viteze/ambreiaj</label>
        </div>
        <div class="ui checkbox probleme five wide field">
          <input type="checkbox" name="example" [(ngModel)]="suspensie">
          <label>Suspensie</label>
        </div>
        <div class="ui checkbox probleme five wide field">
          <input type="checkbox" name="example" [(ngModel)]="directie">
          <label>Directie</label>
        </div>
    </div>
    <div class="eight wide field">
      <label>Localitate*</label>
      <input type="text" placeholder="Locatie" required name="location" ngModel>
    </div>
    <div class="buttons" *ngIf='additionalInfo'>
      <button class="ui large blue button right floated" (click)="addInfo()" type="button">Mai putine detalii</button>
    </div>
    <div class="campuri extra">
      <div class="ui two equal height column stackable grid" *ngIf='additionalInfo'>
          <div class="stretched row" style="padding: 0px;">
            <div class="twelve wide column" style="padding: 0px;">
              <div class="ui segment">
                <label>Fiabilitate</label>
                <textarea name="fiabilitate" cols="10" rows="5" ngModel></textarea>
              </div>
            </div>
            <div class="four wide column" style="padding: 0px;">
                <div class="ui segment">
                  <star-rating-comp   [starType]="'svg'" 
                    [hoverEnabled]="true"
                    (onClick)="reliability($event)" 
                    [labelText]="'Rating'" required
                    >                         
                  </star-rating-comp>
                </div>
            </div>
          </div>
      </div>
      <div class="ui two equal height column stackable grid" *ngIf='additionalInfo'>
          <div class="stretched row" style="padding: 0px;">
            <div class="twelve wide column" style="padding: 0px;">
              <div class="ui segment">
                <label>Performanta</label>
                <textarea name="performanta" cols="5" rows="5" ngModel></textarea>
              </div>
            </div>
            <div class="four wide column" style="padding: 0px;">
                <div class="ui segment">
                  <star-rating-comp   [starType]="'svg'" 
                    [hoverEnabled]="true"
                    (onClick)="performance($event)" 
                    [labelText]="'Rating'" required
                    >                             
                  </star-rating-comp>
                </div>
            </div>
          </div>
      </div>
      <div class="ui two equal height column stackable grid" *ngIf='additionalInfo'>
          <div class="stretched row" style="padding: 0px;">
            <div class="twelve wide column" style="padding: 0px;">
              <div class="ui segment">
                <label>Costuri</label>
                <textarea name="costuri" cols="10" rows="5" ngModel></textarea>
              </div>
            </div>
            <div class="four wide column" style="padding: 0px;">
                <div class="ui segment">
                  <star-rating-comp   [starType]="'svg'" 
                    [hoverEnabled]="true"
                    (onClick)="costs($event)" 
                    [labelText]="'Rating'" required
                    >                             
                  </star-rating-comp>
                </div>
            </div>
          </div>
      </div>
    </div>
    <div class="buttons">
      <button [disabled]="!contactForm.form.valid" type="submit" class="ui submit large green button right floated">Submit</button>
      <button class="ui large blue button right floated" (click)="addInfo()" type="button" *ngIf='!additionalInfo'>Mai multe detalii</button>
    </div>
  </form>
</div>



